body {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-size: 30px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    float: right;
    padding-right: 150px;
}


.left {
    float: left;
    padding-right: 10px;
}


  h1 {
    color: white;
    font-size: 60px;
    text-align: right;
    font-family: 'Syne Mono', monospace;
  }

  h2 {
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: 'Syne Mono', monospace;
  }

  h3 {
    color: grey;
    font-size: 16px;
    text-align: right;
    font-weight: 400;
    font-family: 'Syne Mono', monospace;
  }

  h4 {
    color: grey;
    font-size: 14px;
    text-align: right;
    font-weight: 100;
    font-style: italic;
    font-family: 'Syne Mono', monospace;
  }